<% layout ('../layout/pattern') -%>

<style>
    .card-img-top {
        max-height: 200px;
    }
    .card{
       margin-bottom: 10px;
    }
</style>

<div class="row">
    <div class="col">
    <div style="height:200px; margin-bottom: 5px">
        <% if(Model.user.image_avatar){%>
        <img style="height:200px; margin-bottom: 5px" class="rounded float-left" src="<%= Model.user.image_avatar%>" alt="Аватарка компании">
        <% }else{%>

        <img src="/uploads/test_file.jpg" class="rounded float-left"  alt="Image" >
        <% }%>
    </div>
        <form>

            <div class="form-group">


                <label for="nameOrganizzation">Название организации</label>
                <input type="text" class="form-control" id="nameOrganizzation" placeholder="Название организации" value="<%= Model.user.company%>">

                <label for="phoneNumberOrganizzation">Телефон организации</label>
                <input type="number" class="form-control" id="phoneNumberOrganizzation" placeholder="Номер организации" value="<%= Model.user.phone_number%>">

                <label for="emailCompany">Почта организации</label>
                <input readonly type="email" class="form-control" id="emailCompany" placeholder="Почта организации" value="<%= Model.user.email%>">

                <label for="oldPassorwCompany">Старый пароль</label>
                <input readonly type="password" class="form-control" id="oldPassorwCompany" placeholder="Старый пароль">

                <label for="newPassorwCompany">Новый пароль</label>
                <input readonly type="password" class="form-control" id="newPassorwCompany" placeholder="Новый пароль">

                <label for="linkCompany">Ссылка на сайт организации</label>
                <input type="string" class="form-control" id="linkCompany" placeholder="Ссылка на сайт организации" value="<%= Model.user.site%>">

                <div>
                    <label for="upLoadImageCompany">Изменить Изображение организации</label>
                    <input class="form-control-file" id="upLoadImageCompany" type="file"  name="file" />

                </div>

            </div>
            <button class="btn btn-primary" onclick="changeCompany()" type="button">Сохранить изменения компании</button>
        </form>
<div class="p-3"></div>
                    <h1 class="form-text text-center">Создание проекта</h1>
<!--            border border-success-->
            <div class="jumbotron">
        <form>
            <label for="newProjName">Название нового проекта</label>
            <input type="text" class="form-control" id="newProjName" placeholder="Название нового проекта">
<div>
    <div>
            <label for="newProjPayment">Оплачивается</label>
        <!--        form-check-input-->
        <input type="checkbox" class="" id="newProjPayment" >
    </div>

</div>
            <label for="newProjDescription">Описание нового проекта</label>
            <input type="text" class="form-control" id="newProjDescription" placeholder="Описание нового проекта">

            <div>
                <small class="form-text text-muted">Изображения проекта</small>
                <input class="form-control-file" id="upLoadImagesNewProject" type="file" multiple name="file" />
            </div>
            <small class="form-text text-muted">Навыки</small>
            <button class="btn btn-primary" onclick="addTechnology()" type="button">Добавить навык</button>
            <!--                                    конец формы создания проекта-->
            <div id="newProjTechnology">

            </div>
            <div class="p-3"></div>
            <button  class="btn btn-primary" onclick="AddProj()" type="button">Добавить проект</button>
        </form>
            </div>
<!--                                    конец формы создания проекта-->



                    <h1 class="form-text text-center">Существующие проекты</h1>

        <div>
<!--            <div class="card-columns">-->
<div class="row">
                <% for(var i=0;i<Model.projects.length;++i){ %>
                    <div class="col-md-5 col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <% if(Model.projects[i].images&&Model.projects[i].images.length>0) {%>
                        <img class="card-img-top" src="<%=Model.projects[i].images[0]%>" alt="image">
                        <% } %>

                        <div class="card-body">
                            <h5 class="card-title"><%=Model.projects[i].name%></h5>
                            <p class="card-text"><%=Model.projects[i].description%></p>
                            <a href="/detail-project/id<%=Model.projects[i]._id.toString()%>" class="btn btn-primary">Страница проекта</a>
                        </div>
                    </div>
                </div>

                <% } %>
            </div>
<!--            </div>-->

        </div>
                </div>

            </div>



<!--            <div class="form-group">-->
<!--                <label for="exampleInputPassword1">Password</label>-->
<!--                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
<!--            </div>-->
<!--            <div class="form-group form-check">-->
<!--                <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--                <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--            </div>-->
<!--            <button type="button" class="btn btn-primary">Submit</button>-->
<!--       -->


<!--    </div>-->
<!--</div>-->

<script>

    var maxidTechnology=0;
    function addTechnology(){
        $('#newProjTechnology').append('<input class="form-control" id="newTechnology_'+maxidTechnology++ +'" type="text" placeholder="Введите навык">');

    }

    function changeCompany(){
        var data = new FormData();
        var massFiles1 = document.getElementById('upLoadImageCompany').files;

        $.each(massFiles1, function (key, value) {
            data.append('file', value);//name обязательно такое же как и в upload.single('file')
        });

        data.append('name', document.getElementById('nameOrganizzation').value);
        data.append('site', document.getElementById('linkCompany').value);
        data.append('email', document.getElementById('emailCompany').value);
        data.append('phoneNumber', document.getElementById('phoneNumberOrganizzation').value);


        goAjaxRequest({type:'POST',data:data,url:'/change-company',funcComplete:function(){
                location.reload(true)

            }},true);


    }



    function AddProj(){
        var data = new FormData();
var massFiles1 = document.getElementById('upLoadImagesNewProject').files;

$.each(massFiles1, function (key, value) {
    data.append('file', value);//name обязательно такое же как и в upload.single('file')
});
        data.append('name', document.getElementById('newProjName').value);
        data.append('description', document.getElementById('newProjDescription').value);
       // data.append('employerId', Model.user._id.toString());
       // data.append('payment', document.getElementById('newProjPayment').value);
        data.append('payment', $("#newProjPayment").attr("checked") == 'checked');


        for(let i=0;;++i){
            let tech=document.getElementById('newTechnology_'+i);
            if(!tech)
                break;
            data.append('technologes['+i+']', tech.value);
        }


    goAjaxRequest({type:'POST',data:data,url:'/create-project',funcComplete:function(){
            location.reload(true)

        }},true);
    }



</script>


