<% layout ('../layout/pattern') -%>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<style>
    span > i {
        color: white;
    }
    span > input {
        background: none;
        color: white;
        border: 0;
        padding: 0;
    }

    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .button4 {
        background-color: white;
        color: black;
        border: 2px solid #e7e7e7;
    }


    .tabs {
        width: 100%;
        min-height: 250px;
        max-height: 750px;
    }
    .tabs ul,
    .tabs li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .tabs,
    .tabs input[type="radio"]:checked + label {
        position: relative;
    }
    .tabs li,
    .tabs input[type="radio"] + label {
        display: inline-block;
    }
    .tabs li > div,
    .tabs input[type="radio"] {
        position: absolute;
    }
    .tabs li > div,
    .tabs input[type="radio"] + label {
        border: solid 1px #ccc;
    }
    .tabs {
        /*font: normal 11px Arial, Sans-serif;*/
        color: #404040;
    }
    .tabs li {
        vertical-align: top;
    }
    .tabs li:first-child {
        margin-left: 8px;
    }
    .tabs li > div {
        top: 33px;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 8px;
        overflow: auto;
        background: #fff;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .tabs input[type="radio"] + label {
        margin: 0 2px 0 0;
        padding: 0 18px;
        line-height: 32px;
        background: #f1f1f1;
        text-align: center;
        border-radius: 5px 5px 0 0;
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    .tabs input[type="radio"]:checked + label {
        z-index: 1;
        background: #fff;
        border-bottom-color: #fff;
        cursor: default;
    }
    .tabs input[type="radio"] {
        opacity: 0;
    }
    .tabs input[type="radio"] ~ div {
        display: none;
    }
    .tabs input[type="radio"]:checked:not(:disabled) ~ div {
        display: block;
    }
    .tabs input[type="radio"]:disabled + label {
        opacity: .5;
        cursor: no-drop;
    }
</style>

<!--<div class="fixed-top" style="background-color: black">-->
<div class="container">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="name_of_project">Проект</label>
        </div>
        <input type="text" class="form-control" id="name_of_project" value="<%=project.name%>" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>
</div>
<!--</div>-->

<div class="container" style="padding-top: 66px">
    <div class="row">
        <div class="card text-center container">
            <div class="row">
                <div class="card-body">
                    <div class="card-header">
                        <h5 class="card-title">Описание проекта</h5>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <div class="row">
                                <%if(project.images.length!=0){%>
                                <div class="col">
                                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="card-body">
                                            <% for (var i=0; i< project.images.length; i++) { %>
                                                <%if(i==0){%>
                                                    <div class="carousel-item active">
                                                        <img class="d-block w-100" src="../<%=project.images[i]%>" alt="First slide">
                                                        <button class="btn btn-danger" onclick="deleteImg('<%=project.images[i]%>')" type="button">Удалить</button>
<!--                                                        <a href="#" class="btn btn-danger">Удалить</a>-->
                                                    </div>
                                                    <%}else{%>
                                                    <div class="carousel-item">
                                                        <img class="d-block w-100" src="../<%=project.images[i]%>" alt="Second slide">
                                                        <button class="btn btn-danger" onclick="deleteImg('<%=project.images[i]%>')" type="button">Удалить</button>
<!--                                                        <a href="#" class="btn btn-danger">Удалить</a>-->
                                                    </div>
                                                <%}%>
                                            <%}%>
                                        </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                <%}%>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Описание</label>
                                        <textarea class="form-control" id="description_for_project" rows="3"><%=project.description%></textarea>
                                        <button class="btn btn-primary" onclick="changeDescription()" type="button">Редактировать</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input class="form-control-file" id="upLoadImages" type="file" multiple name="file" />

                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <div class="card-header">
                        <h5 class="card-title">Требуемые навыки</h5>
                    </div>
                    <div class="col text-center">
                        <% for (var i=0; i< technology.length; i++) { %>
                        <button class="button button4" id="technology_project.images"><%=technology[i].name%> <i class="fa fa-trash" aria-hidden="true"></i></button>
                        <% } %>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Введите навык" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Добавить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <div class="card-header">
                        <h5 class="card-title">Заявки</h5>
                    </div>
                    <div class="col text-center">
                        <div class="tabs">
                            <ul>
                                <li>
                                    <input type="radio" name="tabs-0" checked="checked" id="tabs-0-0" />
                                    <label for="tabs-0-0">Поданные заявки</label>
                                    <div>
                                        <table class="table">
                                            <tr><th>Ф.И.О.</th><th></th><th></th></tr>
                                            <% for (var i=0; i< students.length; i++) { %>
                                                <%if(project_student[i].status==0){%>
                                                <tr>
                                                    <td><%=students[i].last_name%> <%=students[i].first_name%> <%=students[i].second_name%></td>
                                                    <td><a href="/detail-student/id<%=students[i]._id%>">Ссылка</a></td>
                                                    <td>
                                                        <form id="edit_<%=i+1%>">
                                                            <button class="btn btn-success" value="/delete-example/id" id="accept_<%=students[i]._id%>"
                                                                    onclick="acceptStudent('<%=students[i]._id.toString()%>')">Принять <i class="fa fa-check" aria-hidden="true"></i></button>
                                                            <button class="btn btn-danger" value="/delete-example/id" id="delete_<%=students[i]._id%>"
                                                                    onclick="declineStudent('<%=students[i]._id.toString()%>')">Отклонить <i class="fa fa-times"></i></button>
                                                        </form>
                                                    </td>
                                                </tr>
                                                <% } %>
                                            <% } %>
                                        </table>
                                    </div>
                                </li>
                                <li>
                                    <input type="radio" name="tabs-0" id="tabs-0-1" />
                                    <label for="tabs-0-1">Принятые заявки</label>
                                    <div>
                                        <table class="table">
                                            <tr><th>Ф.И.О.</th><th></th><th></th></tr>
                                            <% for (var i=0; i< students.length; i++) { %>
                                            <%if(project_student[i].status==1){%>
                                            <tr>
                                                <td><%=students[i].last_name%> <%=students[i].first_name%> <%=students[i].second_name%></td>
                                                <td><a href="/detail-student/id<%=students[i]._id%>">Ссылка</a></td>
                                                <td>
                                                    <form id="edit_<%=i+1%>">
                                                        <button class="btn btn-danger" value="/delete-example/id" id="delete_<%=students[i]._id%>"
                                                                onclick="declineStudent('<%=students[i]._id.toString()%>')">Отклонить <i class="fa fa-times"></i></button>
                                                    </form>
                                                </td>
                                            </tr>
                                            <% } %>
                                            <% } %>
                                        </table>
                                    </div>
                                </li>
                                <li>
                                    <input type="radio" name="tabs-0" id="tabs-0-2" />
                                    <label for="tabs-0-2">Отклонённые заявки</label>
                                    <div>
                                        <table class="table">
                                            <tr><th>Ф.И.О.</th><th></th><th></th></tr>
                                            <% for (var i=0; i< students.length; i++) { %>
                                            <%if(project_student[i].status==2){%>
                                            <tr>
                                                <td><%=students[i].last_name%> <%=students[i].first_name%> <%=students[i].second_name%></td>
                                                <td><a href="/detail-student/id<%=students[i]._id%>">Ссылка</a></td>
                                                <td>
                                                    <form id="edit_<%=i+1%>">
                                                        <button class="btn btn-success" value="/delete-example/id" id="accept_<%=students[i]._id%>"
                                                                onclick="acceptStudent('<%=students[i]._id.toString()%>')">Принять <i class="fa fa-check" aria-hidden="true"></i></button>
                                                    </form>
                                                </td>
                                            </tr>
                                            <% } %>
                                            <% } %>
                                        </table>
                                    </div>
                                </li>
                                <li>
                                    <input type="radio" name="tabs-0" id="tabs-0-3" disabled="disabled" />
                                    <label for="tabs-0-3">Вкладка 4</label>
                                    <div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <%if(!project.complited&&!project.closed){%>
                <div class="row">
                    <div class="card-body">
                        <div class="card-header">
                            <h5 class="card-title">Закрытие проекта</h5>
                        </div>
                        <div class="col text-center">
                            <div class="form-group">
                                <label for="comment">Comment:</label>
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-success" value="id"
                                            onclick="compliteProject()">Подтвердить <i class="fa fa-check" aria-hidden="true"></i></button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-danger" value="id"
                                            onclick="closeProject()">Закрыть <i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <%}%>

        </div>
    </div>
</div>

<script>

    function changeDescription(){//сохраняет всю сущность

            var data = new FormData();
            var massFiles1 = document.getElementById('upLoadImages').files;

            $.each(massFiles1, function (key, value) {
                data.append('file', value);//name обязательно такое же как и в upload.single('file')
            });

            data.append('name', document.getElementById('name_of_project').value);
            data.append('description', document.getElementById('description_for_project').value);
            data.append('projectId', '<%=project._id.toString()%>');
           // data.append('phoneNumber', document.getElementById('phoneNumberOrganizzation').value);


        goAjaxRequest({type:'POST',data:data,url:'/change-project',funcComplete:function(){
                location.reload(true);

            }},true);
    }

    function acceptStudent(studentid){
        var data = {};
        data.studentId=studentid;
        data.projectId='<%=project._id.toString()%>';

        goAjaxRequest({type:'POST',data:data,url:'/accept-student',funcComplete:function(){
                location.reload(true)

            }});
    }
   function declineStudent(studentid){
       var data = {};
       data.studentId=studentid;
       data.projectId='<%=project._id.toString()%>';

       goAjaxRequest({type:'POST',data:data,url:'/decline-student',funcComplete:function(){
               location.reload(true)

           }});
   }

    function deleteImg(delImagePath){
        var data = {};
        data.delImagePath=delImagePath;
        data.projectId='<%=project._id.toString()%>';

        goAjaxRequest({type:'POST',data:data,url:'/delete-image',funcComplete:function(){
                location.reload(true)

            }});
    }

    // function onClickfg(){
    //     goAjaxRequest({type:'GET',data:{name:'nm1'},url:'/add-example',funcSuccess:function(xhr, status, jqXHR){
    //
    //         }
    //
    //
    //     });
    // }


    function closeProject(){
        var data = {};
        data.endDescription=document.getElementById('comment').value;
        data.projectId='<%=project._id.toString()%>';

        goAjaxRequest({type:'POST',data:data,url:'/close-project',funcComplete:function(){
                location.reload(true)

            }});
    }

    function compliteProject(){
        var data = {};
        data.endDescription=document.getElementById('comment').value;
        data.projectId='<%=project._id.toString()%>';

        goAjaxRequest({type:'POST',data:data,url:'/complite-project',funcComplete:function(){
                location.reload(true)

            }});
    }

</script>